<h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus"></i> Create New</a> Inventory List</h3>
<table class="table table-striped">
    <thead>
        <tr >
            <th>Item id</th>
            <th>Item name</th>
            <th>QTY</th>
            <th>Selling price</th>
            <th>Cost price</th>
            <th>GST</th>
            <th>Supplier id</th>
            
        </tr>
    </thead>
    <tbody style="background-color: white;">
        {{#each list}}
        <tr style="color: black;">
            <td>{{this.itemid}}</td>
            <td>{{this.itemname}}</td>
            <td>{{this.qty}}</td>
            <td>{{this.sellingprice}}</td>
            <td>{{this.costprice}}</td>
            <td>{{this.GST}}</td>
            <td>{{this.supplierid}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>